.mainBtn {
    background-color: #4A026B;
    color: azure;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    height: 60px;
}

.mainBtn:hover {
    background-color: rgb(52, 7, 52);
}